@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap&#39;');

$deaultFont        : "Open sans", san-serif;
$defaultColor      : #5F5F5F;
$defaultBlue       : #108AC1;
$defaultGray       : #909090;
$deafaultH2SizeMob : 36px;
$deafaultH2SizeTab : 30px;
$deafaultH2SizeDes : 28px;
$iconSizeMob       : 60px;
$iconSizeTab       : 70px;
$iconSizeDes       : 76px;

$mediaSizeMob      : 200px;
$mediaSizeTab      : 500px;
$mediaSizeDes      : 1000px;