@media (min-width: 1000px) {

    h1 {
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    nav {
        flex-direction: column;
        padding-bottom: 2%;
        padding-top: 2%;
        height: fit-content;


        > section {
            position: static;
        }

        > article {
            text-align: center;
        }

        ul {
            padding-top: 2px;
            padding-bottom: 2px;
        }

        a {
            padding: 5%;
            height: fit-content;
        }
    }

    main {
        align-items: center;
    }

    main > section {
        width: 90%;
    }

    .features {
    
        justify-content: center;
        column-gap: 8%;

        > section {
            width: 40%;
        }

        article {
            align-items: center;
        }
    }

    .activities  {

        > article {
            height: 35vh;
        }

        > section {
            width: 90%;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 10%;
            row-gap: 5vh;
        }

        figure {
            width: 45%;
        }
    }

    .company {
        flex-direction: row;
        width: 80%;

        > figure {
            align-items: flex-start;
            column-gap: 2vh;
            flex-direction: row;
        }

        img {
            width: 45vh;
            height: 45vh;
        }

        > section {
            align-items: flex-end;
        }

        figcaption {
            width: 60%;

            a {
                width: 40%;
            }
        }
    }
        
    .contact {
        width: 80%;
        flex-direction: row;
        column-gap: 15vh;

        justify-content: space-evenly;
        padding: 0;
        
        > section,
        > figure {
            justify-content: center;
            padding: 0;
            width: 100%;
        }

        form {
            width: 90%;
        }

        img {
            width: 100%;
            height: 50vh;
        }

        > figure {
            align-items: flex-start;
        }


    }



}