@media (min-width : $mediaSizeMob) {

    nav {
        padding-top: 10%;
        padding-bottom: 10%;

        > section {
            background-color: white;
            width: 100%;
            padding-top: 1%;
            padding-bottom: 1%;
            height: 5vh;
            border-top: 1px solid $defaultGray;
            border-bottom: 1px solid $defaultGray;
            display: flex;
            align-items: center;
            justify-items: center;
            position: fixed;
            z-index: 6;
         }

        > article {
            display: flex;
            column-gap: 3vh;
            font-size: $iconSizeMob;
            align-items: center;
            justify-content: center;
        }

        ul {
            display: none;
        }

        i {
            font-size: $iconSizeMob;
        }

        h1 {
            width: 30%;
            font-size: 50px;
            font-weight: 300;
            text-transform: uppercase;
        }

        details {
            width: 100%;
            text-align: center;
            position: relative;

            > ul {
               width: 100%;
               @include flexColumn;
               position: absolute;
               background-color: white;
               z-index: 5;
            }
      
            li {
               display: flex;
               width: 100%;
            }
      
            a {
               text-decoration: none;
               color: $defaultColor;
               width: 100%;
               padding: 2%;
               text-align: center;
            }

        }

        summary {
            font-size: 24px;
         }
      
    }

    header {
        position: relative;
        height: 50vh;

        article {
            width: 100%;
            height: 100%;
            background-color: rgba(50, 50, 50, .4);

           @include flexColumn;
           align-items: center;
            justify-content: center;
            position: absolute;
            color: white;

            > aside {
                @include flexColumn;
                text-align: center;
                align-items: center;
                row-gap: 2vh;
            }
        }

        p {
            font-size: 14px;
        }

        h1 {
            text-transform: capitalize;
            font-weight: 300;
            font-weight: 300;
            font-size: 50px;
        }
    }

    .features {
        color: $defaultColor;
        padding: 5%;
        padding-top: 5vh;
        padding-bottom: 5vh;
        row-gap: 3vh;

        > section {
            @include flexColumn;
            row-gap: 4vh;
        }

        article {
            @include flexElement(row,3vh,0)
        }

        aside {
            @include flexElement(column,0,3vh)
        }

        i {
            font-size: 76px;
        }

        h3 {
            font-size: 28px;
            font-weight: 400;
        }

    }

    .activities {
        @include flexContent(column,center,center,0,7vh);

        > article {
            height: 22vh;
            width: 90%;
            @include bgImage("/img/pic7.jpg");
            background-attachment: fixed;
        }

        aside {
            width: 100%;
            height: 100%;
            @include flexText;
            color: white;
            background-color: rgba(50, 50, 50, .7);
        }

        h2 {
            font-size: $deafaultH2SizeMob;
        }

        > section {
            width: 90%;
            @include flexContent(column,center,center,0,5vh);
        }

        figure {
            padding: 5%;
            width: 90%;
            border: 1px solid $defaultGray;
            @include flexContent(column,center,center,0,2vh);
        }

        figcaption {
            @include flexColumn;
            row-gap: 2vh;
            line-height: 1.5;
            color: $defaultColor;
            width: 85%;
        }

        img {
            width: 30vh;
            height: 30vh;
        }

        h4 {
            color: $defaultBlue;
            font-size: 20px;
            font-weight: 400;
        }

    }

    .company {
        @include flexColumn;
        align-items: center;
        row-gap: 5vh;
        
        > figure {
            @include flexColumn;
            align-items: center;
            row-gap: 3vh;
        }

        img {
            width: 100%;
        }

        > section {
            width: 90%;
            @include flexColumn;
            align-items: center;
        }

        figcaption {
            width: 80%;
            @include flexContent(column,center,center,0,4vh);
            line-height: 1.5;
        }

        h2 {
            font-size: $deafaultH2SizeMob;
            font-weight: 400;
            color: $defaultColor;
            text-align: left;
            
        }

        aside {
            display: flex;
            justify-content: right;
            width: 100%;
        }

        a {
            border: 1px solid $defaultColor;
            font-weight: 400;
            width: 40%;
            padding: 2%;
            font-size: 20px;
            color: $defaultColor;
            text-decoration: none;
            text-align: center;
        }
     
        > section {

            > article {
                display: flex;
                width: 100%;
            }

            p {
                width: 90%;
                line-height: 1.5;
            }

        }

        article > a {
            width: 50%;
        }

        #vision, #mission {
            border: 1px solid $defaultColor;
            flex-direction: column;
            row-gap: 4vh;
            width: 90%;
            padding: 5%;
        }

        #mission {
            display: none;
        }

        article > a:last-child {
            background-color: gainsboro;
            transition: .4s;
        }

        // article > a:last-child:active {
        //     background-color: transparent;

        //     #vision {
        //         display: none;
        //     }

        //     #mission {
        //         display: flex;
        //     }
        // }


    }

    .contact {
        @include flexColumn;
        row-gap: 5vh;
        
        > section,
        form {
            @include flexColumn;
        }

        > section {
            align-items: center;
            row-gap: 3vh;
        }

        form {
            row-gap: 2vh;
            width: 90%;
        }

        h4 {
            width: 90%;
            text-align: right;
            font-size: $deafaultH2SizeMob;
            font-weight: 300;
            color: $defaultColor;
        }
        
        aside {
            display: flex;
            justify-content: right;
        }

        > figure {
            @include flexColumn;
            align-items: center;
            row-gap: 3vh
        }

        > figure, figcaption {
            @include flexColumn;
            align-items: center;
        }

        figcaption {
            width: 90%;
            color: $defaultColor;
            
        }

        img {
            width: 90%;
        }

        [type="submit"] {
            padding: 2%;
            width: 40%;
            background-color: white;
            font-size: 24px;
            color: $defaultColor;
        }

        input, textarea {
            border: 1px solid $defaultGray;
            padding: 2%;
        }

        textarea {
            height: 25vh;
        }
     
    }

    footer {
        padding: 5%;
        width: 90%;
        @include flexColumn;
        row-gap: 1vh;        
        align-items: center;

        a {
            text-decoration: none;
            color: $defaultColor;
            background-color: gainsboro;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5vh;
            height: 5vh;

        }

    }



}