@media (min-width: 600px) {


    details {
        display: none;
    }

    nav {

        display: flex;
        // row-gap: 4vh;
        padding-top: 0;
        padding-bottom: 5vh;
        height: 20vh;
        
        > article {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        > section {
            position: fixed;
        }

        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            column-gap: 2vh;
        }

        li {
            display: flex;
            width: 10%;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1%;
            height: 5vh;
            width: 100%;
            text-align: center;
            text-decoration: none;
            color: $defaultColor;
            transition: .4s;
        }

        a:hover {
            background-color: gainsboro;
            color: $defaultBlue;
        }
    }

    .features {
        flex-direction: row;
        column-gap: 5vh;
    }

    


}