@media (min-width: 600px) {


    details {
        display: none;
    }

    nav {

        display: flex;
        // row-gap: 4vh;
        padding-top: 0;
        padding-bottom: 5vh;
        height: 20vh;
        
        > article {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        > section {
            position: fixed;
        }

        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            column-gap: 2vh;
            margin: 0;
        }

        li {
            display: flex;
            width: 10%;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1%;
            height: 5vh;
            width: 100%;
            text-align: center;
            text-decoration: none;
            color: $defaultColor;
            transition: .4s;
        }

        a:hover {
            background-color: gainsboro;
            color: $defaultBlue;
        }

        details {
            display: none;
        }
    }

    .features {
        flex-direction: row;
        column-gap: 5vh;
    }

    .activities {

        > article {
            background-position: center;
        }

        > section {
            width: unset;
        }

        figure {
            flex-direction: row;
            column-gap: 3vh;
            padding: 3%;
        }

        img {
            width: 15vh;
            height: 15vh;
        }
    }


    .company {
        
        img {
            width: 50%;
        }

        figcaption {
            row-gap: 2vh;
            align-items: flex-start;

            a {
                width: 25%;
                font-size: 18px;
                transition: .4s;

                &:hover {
                    background-color: $defaultGray;
                    color: white;
                }
            }
        }

         section {

            > article:first-child {
                width: 90%;
            }

        }

    }

    .contact {

        padding-right: 5%;

        form {
            width: 50%;
        }

        > section {
            align-items: flex-end;
        }

        > figure {
            align-items: flex-end;
        }

        figcaption {
            width: 50%;
        }

        img {
            height: 20vh;
            object-fit: cover;
            object-position: top;
            width: 50%;
        }

        [type="submit"] {
            transition: .4s;

            &:hover {
                cursor: pointer;
                background-color: $defaultGray;
                color: white;
            }
        }
    }
    
    .faq {
        width: 100%;
        align-items: center;

        > section {
            width: 90%;
            display: flex;
            flex-direction: column;
            row-gap: 4vh;
         }
    }
   
    .accordion-button {
        border-top-left-radius: var(--bs-accordion-inner-border-radius);
        border-top-right-radius: var(--bs-accordion-inner-border-radius);
        border-top: 1px solid var(--bs-accordion-btn-color);
    }
    

}